@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{

    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(248, 232, 250, 0.81);
    
}

.box{
    width: 400px;
    margin: 10rem auto;
    
    
}


.font{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(183, 109, 252);
    height: 53px;
    margin-bottom: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    border-radius: 10px;
}

.font p{
    color: aliceblue;
    margin: 5px;
}

.font h1{
    color: aliceblue; 
    margin: 10px auto;
    font-size: 25px;
}

.list{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: auto;
    border-radius: 10px;

}

.list p{
   
    padding: 5px;
    margin: 10px  15%;
    color: rgb(135, 134, 133);
    font-size: 20px;
    display: flex;
    justify-content: space-between;

    

}

 #mark{
    width: 40px;
    border-color: white;
    /* box-shadow: hsla(210, 6%, 93%, 0.979) 0px 8px 24px; */
    border-radius: 10px;
}





#finsh{
    font-size: 35px;
    color: rgb(183, 109, 252);
}

.adding{
    margin: 0 45px;
    /* width: 400px; */
    
}

#input{
    width: 150px;
    height: 25px;
    background-color: white;;

  font-size: 18px;
  border:6px solid rgb(195, 147, 241);
  border-radius: 3px;
  box-shadow: rgb(215, 220, 225) 0px 8px 24px;
  border-color: white;
  
 
}

#add{
    margin-left: 50px;
   width: 90px;
   height: 37px;
  background-color: rgb(183, 109, 252);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: rgb(215, 220, 225) 0px 8px 24px;
  border-color: white;
  
 }